/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html, body {
    height: 100%;
}
.altura_completa {
    height: 100%;
}
.fondo_azul {
    background-color: blue; 
    color: beige;
    padding: top 15px; 
    text-align: center;
}

.contador {
  width: 100%;
  font-size: 80px;
  font-weight: bold;
  text-align:center;
}

.titulos {
    text-align: center;
  }
  
  .titulo-dias, .titulo-horas, .titulo-minutos, .titulo-segundos {
    display: inline-block;
    width: 25%;
    font-size: 12px;
    font-weight: normal;
    margin: 0 auto;
    padding: 10px;
  }

  .input-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  .btn-blue {
    background-color: #007bff;
    border-color: #007bff;
    color: beige;
    outline: none;
  }

  

